/src/test/resources/flickr.accessToken.properties
/.cache
/src/test/resources/flickr.setup.properties
/bin
/project/target
/project/project
/target
.project
.classpath
*~
//*.sc
.worksheet
/.project
/.classpath

