/src/test/resources/youtube.accessToken.properties
/src/test/resources/vimeo.setup.properties
/src/test/resources/youtube.setup.properties
/src/test/resources/FlickrLookupTest.output.*
/src/test/resources/flickr.accessToken.properties
/.cache
/src/test/resources/flickr.setup.properties
/bin
/project/target
/project/project
/target
.project
.classpath
/.settings
.ensime
*~
//*.sc
.worksheet
/.project
/.classpath
/.cache-main
/.cache-tests
