# Backups
*~

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.classpath

# ensime specific
.ensime_cache/
.ensime


# Media-Extractor project-specific

## Properties files (contain access tokens, usernames and passwords)
/src/test/resources/*.properties
